{% extends "layouts/body-layout.twig" %}
{%  block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">N° de besoin</th>
            <th scope="col">Role</th>
            <th scope="col">Créneau</th>
        </tr>
        </thead>
        <tbody>
        {% for need in needs %}
            {% for role in role %}
            <tr>
                <td> {{ need.id }}</td>
                <td> {{ role.label }}</td>
                <td> {{ need.niche_id }} </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}