{% extends "layouts/body-layout.twig" %}
{%  block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Role</th>
            <th scope="col">Date de début du créneau</th>
            <th scope="col">Date de fin du créneau</th>
        </tr>
        </thead>
        <tbody>
        {% for need in needs %}
            <tr>
                <td> {{ need.role }}</td>
                <td> {{ need.begin }} </td>
                <td> {{ need.end }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}