{% extends "layouts/body-layout.twig" %}
{% block content %}
    {% for msg in flash('error') %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for msg in flash('success') %}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            <i class="fe fe-check mr-2" aria-hidden="true"></i> {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Besoins du créneau </h3>
            {% if auth.check and auth.user.admin %}
                <div class="ml-auto">
                    <a class="btn btn-primary" href=""><i class="fe fe-plus mr-2"></i>Ajouter un besoin</a>
                </div>
            {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap" id="dataTable">
                <thead>
                <tr>
                    <th scope="col" class="col-md-9">Role</th>
                    <th scope="col" class="col-md-3"></th>
                </tr>
                </thead>
                <tbody>
                {% for need in needs %}
                    {% for role in roles %}
                        {% if need.role_id == role.id %}
                            <tr>
                                <td>{{ role.label }}</td>
                                <td>
                                    <a href="{{ path_for("inscriptionNeed", {id: need.id}) }}" class="btn btn-primary">S'inscrire</a>
                                    {% if auth.check and auth.user.admin %}
                                        <a href="" class="btn btn-icon btn-green "><i class="fe fe-edit"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}