<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item"><a href="./faq.html">A propos</a></li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <a href="https://github.com/Wilders/CrazyCharlyDay" target="_blank" class="btn btn btn-github btn-sm"><i class="fab fa-github mr-2"></i> Github</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                Crazy Charly Frogs using Bootstrap 4 / Tabler
            </div>
        </div>
    </div>
</footer>